<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>



<h1>Delete</h1>
<h2>Are you sure you want to delete?</h2>

<!-- skal forstå hvad der sker her  -->

<form   method="post">

    <p th:text="${icecreams.name }"></p>

    <input type="hidden" th:value="${icecreams.id}" name="id">

    <input type="submit" value="YES" class="btn btn-del">
</form>


</form>

<a href="/" class="btn">NO</a>
</div>



</body>
</html>