<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>is lager</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">


    <h1>ISOBAR  </h1>
    <h3>oversigt over de forskellige is</h3>

    <a href="/" class="btn">tilbage til forside </a>
    <a href="/createIcecream " class="btn">tilføj ny is </a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>is</th>
            <th>options </th>
            <th></th>

        </tr>
        </thead>

        <tbody>

        <tr th:each="icecreams : ${icecreams_data}">
            <td  th:text="${icecreams.id}"></td>
            <td th:text="${icecreams.name}"></td>


            <td>

                <a th:href=" ${'/EditIcecream?id=' + icecreams.id} " class="btn btn-ed">Edit</a>
                <a th:href=" ${'/deleteIcecream?id=' + icecreams.id} " class="btn btn-del">Delete</a>
                <a th:href=" ${'/ProduceIcecream?id=' + icecreams.id} " class="btn btn-ed">Producer</a>



            </td>
        </tr>


        </tbody>


    </table>

</div>


<body>

<br>


</body>



</body>
</html>