<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>IsoBar_eksamensprojekt</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<div class="container">

    <h1>ISOBAR </h1>
    <h3>lageroversigt over ingredienser</h3>

    <a href="/" class="btn">tilbage til forside </a>
    <a href="/addIngredient " class="btn">Tilføj ny ingrediens </a>


    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Ingredienser</th>
            <th>inventar</th>
            <th>options</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="ingredients : ${ingredients_data}">
            <td th:text="${ingredients.id}"></td>
            <td th:text="${ingredients.name}"></td>
            <td th:text="${ingredients.inventory}"></td>
            <td>

                <a th:href=" ${'/Edit?id=' + ingredients.id} " class="btn btn-ed">Edit</a>
                <a th:href=" ${'/delete?id=' + ingredients.id} " class="btn btn-del">Delete</a>


            </td>
        </tr>


        </tr>

        </tbody>
    </table>

</div>
</body>
</html>